<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="astorino-urdf_gripper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import astorino-urdf_gripper urdf file -->
    <xacro:include filename="$(find astorino-urdf_gripper_description)/urdf/astorino-urdf_gripper.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="astorino-urdf_gripper.ros2_control.xacro" />


    <xacro:astorino-urdf_gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
